
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  --main-color:#0D0628;
  --highlight:#788BFF;
  --icons:#5465FF;
  --text:#EFF1F3;
  --shadows:#223843;
  --warning:#D77A61;
  --success:#81F499;
}
body{
  padding: 0;
  margin: 0;
}
.container{
  width: 100%;
  position: relative;
}
.sideBarToolContainer{
  width: 3rem;
  min-height: 20rem;
  
  border-radius: 24px;
  background-color: var(--main-color);
  position: absolute;
  left:1rem;
  top:25%;
  z-index: 99;
 padding: 15px 0px;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}
 
.icon{
      color: var(--text);
      list-style: none;
      font-weight:bolder;
      scale: 1.2;
      &:hover{
        color: var(--highlight);
        cursor: pointer;
      }
    }
.navbar-container{
  position: absolute;
  z-index: 99;
  top: 0;
  left:0;
  width: 100dvw;
  height: 2.6rem;
  background-color: var(--main-color);
  nav{
    display:flex;
    width: 100%;
    justify-content: start;
    align-items: start;
    ul{

      display: flex;
      justify-content: center;
      align-items: center;
      

      li{
        color:var(--text);
        list-style: none;
       padding: 0px 20px;
       cursor: pointer;
        &:hover{
          background-color: var(--highlight);
        }
        
      }
    }
  }
}
